version: "3.9"

services:
  app:
    image: php:8.2-apache
    container_name: php_app
    volumes:
      - ./src:/var/www/html
    ports:
      - "8080:80"
    depends_on:
      - mysql
    networks:
      - appnet

  mysql:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 123456
      MYSQL_DATABASE: practice_db
    ports:
      - "3306:3306"
    networks:
      - appnet

networks:
  appnet:
    driver: bridge
